.brand-logo {
  margin-left: 10px;
}
.content.container {
  min-height: calc(100vh - 70px - 64px);
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-start;

  .card.movie {
    flex: 0 1 24%;
    box-sizing: border-box;
    margin-right: 5px;
    margin-left: 5px;
   
    @media screen and (max-width: 1444px) {
      & {
        flex: 0 1 32%;
      }
    }
    @media screen and (max-width: 1088px) {
      & {
        flex: 0 1 46.9%;
        justify-content: space-around;
       .card-title {
            font-size: 20px;
        }
      }
    }
    @media screen and (max-width: 359px) {
        & {
          flex: 0 1 99%;
          justify-content: space-around;
        }
      }

    .card__footer {
      .card__year {
        position: absolute;
        left: 10px;
        bottom: 8px;
      }
      .card__type {
        position: absolute;
        right: 10px;
        bottom: 8px;
      }
    }
  }
}
.search-btn {
  position: absolute;
  right: 15px;
  top: 0px;
}

.label__filter {
  position: static !important;
  margin-right: 40px;
  @media screen and (max-width: 680px) {
    display: flex;
    flex: 0 0 40%;   
    flex-wrap: wrap;
}
@media screen and (max-width: 485px) {
    display: flex;
    flex: 0 0 40%;   
    margin-right: 20px;
}
@media screen and (max-width: 346px) {
    display: flex;
    flex: 0 0 99%;   
    margin-right: 20px;
}
}
.row__filters {
    @media screen and (max-width: 680px) {
        display: flex;
        flex-wrap: wrap;
        
    }
}
img {
    
    min-height: 300px;
    max-height: 40vh;
}
